
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-473552922852983814 .-rotate-90,.gps-473552922852983814 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-473552922852983814 .invisible{visibility:hidden}.gps-473552922852983814 .absolute{position:absolute}.gps-473552922852983814 .relative{position:relative}.gps-473552922852983814 .mx-auto{margin-left:auto;margin-right:auto}.gps-473552922852983814 .mb-0{margin-bottom:0}.gps-473552922852983814 .mr-\[12px\]{margin-right:12px}.gps-473552922852983814 .flex{display:flex}.gps-473552922852983814 .inline-flex{display:inline-flex}.gps-473552922852983814 .grid{display:grid}.gps-473552922852983814 .hidden{display:none}.gps-473552922852983814 .h-5{height:20px}.gps-473552922852983814 .w-5{width:20px}.gps-473552922852983814 .w-full{width:100%}.gps-473552922852983814 .max-w-full{max-width:100%}.gps-473552922852983814 .shrink-0{flex-shrink:0}.gps-473552922852983814 .-rotate-90{--tw-rotate:-90deg}.gps-473552922852983814 .-rotate-90,.gps-473552922852983814 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473552922852983814 .rotate-90{--tw-rotate:90deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-473552922852983814 .animate-spin{animation:spin 1s linear infinite}.gps-473552922852983814 .cursor-pointer{cursor:pointer}.gps-473552922852983814 .flex-row-reverse{flex-direction:row-reverse}.gps-473552922852983814 .flex-col{flex-direction:column}.gps-473552922852983814 .items-center{align-items:center}.gps-473552922852983814 .justify-center{justify-content:center}.gps-473552922852983814 .overflow-hidden{overflow:hidden}.gps-473552922852983814 .overflow-clip{overflow:clip}.gps-473552922852983814 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-473552922852983814 .break-words{overflow-wrap:break-word}.gps-473552922852983814 .border{border-width:1px}.gps-473552922852983814 .text-g-text-3{color:var(--g-c-text-3)}.gps-473552922852983814 .no-underline{text-decoration-line:none}.gps-473552922852983814 .opacity-25{opacity:.25}.gps-473552922852983814 .opacity-75{opacity:.75}.gps-473552922852983814 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473552922852983814 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473552922852983814 .duration-200{transition-duration:.2s}.gps-473552922852983814 .duration-300{transition-duration:.3s}.gps-473552922852983814 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473552922852983814 .disabled\:btn-disabled:disabled{cursor:default}.gps-473552922852983814 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-473552922852983814 .disabled\:opacity-30:disabled{opacity:.3}.gps-473552922852983814 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-473552922852983814 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-473552922852983814 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gyVVadXOuT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyVVadXOuT mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk5hK8ZOSI relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xs)" class="gFuGPofwYc ">
      
    <div
      parentTag="Col"
        class="gFuGPofwYc"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:38px;--size-mobile:33px"
      >
      <p>If you have any questions. We will answer them for you</p>
      </h2>
    </div>
      </div>
    <div
      parentTag="Col"
        class="ggk1lw2hpA"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>Seen frequently asked question or chat with us now.</p>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:49px;--ta:left"
    class=""
  >
    <a
      href="#" target="_blank" data-id="gh9rfjVkOm" aria-label="Chat now"
      data-state="idle"
      class="gh9rfjVkOm max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-text-3"
      style="--hvr-bg:#3632C7;--bg:#5956E9;--bblr:73px;--bbrr:73px;--btlr:73px;--btrr:73px;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--tt:default;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      > <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5 8C5 8.26522 4.89464 8.51957 4.70711 8.70711C4.51957 8.89464 4.26522 9 4 9C3.73478 9 3.48043 8.89464 3.29289 8.70711C3.10536 8.51957 3 8.26522 3 8C3 7.73478 3.10536 7.48043 3.29289 7.29289C3.48043 7.10536 3.73478 7 4 7C4.26522 7 4.51957 7.10536 4.70711 7.29289C4.89464 7.48043 5 7.73478 5 8ZM9 8C9 8.26522 8.89464 8.51957 8.70711 8.70711C8.51957 8.89464 8.26522 9 8 9C7.73478 9 7.48043 8.89464 7.29289 8.70711C7.10536 8.51957 7 8.26522 7 8C7 7.73478 7.10536 7.48043 7.29289 7.29289C7.48043 7.10536 7.73478 7 8 7C8.26522 7 8.51957 7.10536 8.70711 7.29289C8.89464 7.48043 9 7.73478 9 8ZM12 9C12.2652 9 12.5196 8.89464 12.7071 8.70711C12.8946 8.51957 13 8.26522 13 8C13 7.73478 12.8946 7.48043 12.7071 7.29289C12.5196 7.10536 12.2652 7 12 7C11.7348 7 11.4804 7.10536 11.2929 7.29289C11.1054 7.48043 11 7.73478 11 8C11 8.26522 11.1054 8.51957 11.2929 8.70711C11.4804 8.89464 11.7348 9 12 9Z" fill="white"/> <path d="M2.165 15.803L2.185 15.799C4.015 15.436 5.133 14.957 5.653 14.694C6.41859 14.8982 7.20765 15.0011 8 15C12.418 15 16 11.866 16 8C16 4.134 12.418 1 8 1C3.582 1 0 4.134 0 8C0 9.76 0.743 11.37 1.97 12.6C1.88416 13.3901 1.70835 14.1678 1.446 14.918L1.443 14.929C1.36844 15.1439 1.28707 15.3563 1.199 15.566C1.12 15.752 1.273 15.96 1.472 15.928C1.70366 15.8901 1.93469 15.8484 2.165 15.803ZM2.965 12.695C2.97901 12.5486 2.96055 12.4009 2.91094 12.2625C2.86133 12.124 2.7818 11.9982 2.678 11.894C1.618 10.83 1 9.468 1 8C1 4.808 4.004 2 8 2C11.996 2 15 4.808 15 8C15 11.193 11.996 14 8 14C7.2951 14.001 6.59311 13.9096 5.912 13.728C5.67398 13.6642 5.42079 13.6906 5.201 13.802C4.814 13.998 3.961 14.372 2.567 14.695C2.76148 14.0421 2.89472 13.3726 2.965 12.695Z" fill="white"/> </svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Chat now
      </span>
    </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0NxE5cJWg relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-32px;--mb:var(--g-s-l)" class="gsWheEb_LD ">
      
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:0px"
      gp-data='{"setting":{"expanded":false,"expandItem":false,"activeKey":1,"isIconPlus":true,"iconPosition":"right"},"styles":{"color":{"normal":"#5956E9"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"itemBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"1","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"1","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"itemRounded":{"normal":{"radiusType":"none"}},"width":{"desktop":"1170px"},"fullWidth":{"desktop":true},"textColor":{"normal":"#424242"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"}}}},"uid":"gsWheEb_LD"}'
    >
    <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="overflow-clip gsWheEb_LD gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="gsWheEb_LD flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--c:#424242;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="0"
            class="gsWheEb_LD gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden break-words"
        style="--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
      What is the material of the backpack?
      </span>
    </div>
      </div>
      <div
        uid="g3o_jQOKcf"
        data-index="0"
        class="gsWheEb_LD gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gYSJA5Pps1 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9ON4sU5I-"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>All of our backpacks are made of sturdy parachute fabric and are water resistant in the rain.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="overflow-clip gsWheEb_LD gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="gsWheEb_LD flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--c:#424242;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="1"
            class="gsWheEb_LD gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden break-words"
        style="--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
      What if I am not satisfied with the product
      </span>
    </div>
      </div>
      <div
        uid="guaV_Av4bO"
        data-index="1"
        class="gsWheEb_LD gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gvEyAsPvdF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGXoeVQlqB"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>You can completely return the goods and receive the money in 7 days if you make sure the goods are intact with the tags</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="overflow-clip gsWheEb_LD gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="gsWheEb_LD flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--c:#424242;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="2"
            class="gsWheEb_LD gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden break-words"
        style="--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
      Do you ship internationally?
      </span>
    </div>
      </div>
      <div
        uid="gYIMs6YJpN"
        data-index="2"
        class="gsWheEb_LD gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gIZPg79IS2 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBBYnvNrJL"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>We deliver anywhere in the world, as long as you can reach where you are</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="3"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="overflow-clip gsWheEb_LD gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="3"
        class="gsWheEb_LD flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--c:#424242;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="3"
            class="gsWheEb_LD gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden break-words"
        style="--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
      How to pay for my purchasie?
      </span>
    </div>
      </div>
      <div
        uid="gcUy1NMIcd"
        data-index="3"
        class="gsWheEb_LD gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gfD6IPPRgc relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gPXRrx72Z2"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>You can pay via the visa or paypal anywhere in the world</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="4"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="overflow-clip gsWheEb_LD gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="4"
        class="gsWheEb_LD flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--c:#424242;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="4"
            class="gsWheEb_LD gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden break-words"
        style="--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
      What payment methods do you accept?
      </span>
    </div>
      </div>
      <div
        uid="geA2VuASZg"
        data-index="4"
        class="gsWheEb_LD gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g4QSH9Ybfh relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="ggk5msEwkG"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
      <p>We accept payment via visa card, paypal and cash</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gIxOBAW6-T",
    "tag": "section",
    "class": "gps-473552922852983814 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=473552922852983814)"
      }
    ],
    "blocks": []
  }
{% endschema %}
