
  
  <style>
    .gps-473555336121287686 .g-s-large{padding:12px 32px}.gps-473555336121287686 .invisible{visibility:hidden}.gps-473555336121287686 .absolute{position:absolute}.gps-473555336121287686 .relative{position:relative}.gps-473555336121287686 .inset-0{inset:0}.gps-473555336121287686 .mx-auto{margin-left:auto;margin-right:auto}.gps-473555336121287686 .mb-0{margin-bottom:0}.gps-473555336121287686 .inline-block{display:inline-block}.gps-473555336121287686 .flex{display:flex}.gps-473555336121287686 .inline-flex{display:inline-flex}.gps-473555336121287686 .grid{display:grid}.gps-473555336121287686 .h-5{height:20px}.gps-473555336121287686 .w-5{width:20px}.gps-473555336121287686 .w-full{width:100%}.gps-473555336121287686 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-473555336121287686 .animate-spin{animation:spin 1s linear infinite}.gps-473555336121287686 .flex-col{flex-direction:column}.gps-473555336121287686 .items-center{align-items:center}.gps-473555336121287686 .justify-center{justify-content:center}.gps-473555336121287686 .overflow-hidden{overflow:hidden}.gps-473555336121287686 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-473555336121287686 .break-words{overflow-wrap:break-word}.gps-473555336121287686 .align-middle{vertical-align:middle}.gps-473555336121287686 .no-underline{text-decoration-line:none}.gps-473555336121287686 .opacity-25{opacity:.25}.gps-473555336121287686 .opacity-75{opacity:.75}.gps-473555336121287686 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555336121287686 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555336121287686 .duration-200{transition-duration:.2s}.gps-473555336121287686 .duration-300{transition-duration:.3s}.gps-473555336121287686 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555336121287686 .disabled\:btn-disabled:disabled{cursor:default}.gps-473555336121287686 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-473555336121287686 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-473555336121287686 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-473555336121287686 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-473555336121287686 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-473555336121287686 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-473555336121287686 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gVPjYeWWu-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EEEEEE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVPjYeWWu- mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMOcxs-vxp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gmKbIcQuNB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmKbIcQuNB mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:0;--o-mobile:0"
      class="gEZrgEYRv8 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNrpvQ5gft"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--left:135px;--left-tablet:120px;--op:100%;--pos:static;--pos-mobile:static;--pos-tablet:static;--right:undefinedpx;--radius:var(--g-radius-none);--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pt-mobile:var(--g-s-3xl);--pl-mobile:16px;--pb-mobile:var(--g-s-3xl);--pr-mobile:16px;--pt-tablet:var(--g-s-3xl);--pl-tablet:var(--g-s-3xl);--pb-tablet:var(--g-s-3xl);--pr-tablet:var(--g-s-3xl);--top:145px;--top-tablet:120px;--z:999;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNrpvQ5gft mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCvbLXpOYb relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="gcSb74ROEM ">
      
    <div
      parentTag="Col"
        class="gcSb74ROEM"
        style=""
      >
      <h2
        data-gp-text
        class="break-words gp-text"
        style="--ta:left;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:40px;--size-tablet:35px;--size-mobile:35px;--c:#242424"
      >
      <p>Gem The Store</p>
      </h2>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g4pib7SDBw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#575757"
      >
      <p>Established in 1920 the Gem jewellery store has the reputation as one of the most important jewellery brand names. Our passion for jewels has always been our motivation to pioneer and offer our clients a valuable experience. This experience is worth as much as a gemstone and is as timeless as gold.&nbsp;<br><br>Since the early days, we’ve had a focus on building one of the most unique and fulfilling workplaces by rethinking a lot of traditional practices.</p>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <button
      type="button" data-id="gwHb1DWHT_" aria-label="LEARN MORE"
      data-state="idle"
      class="gwHb1DWHT_ max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none g-s-large"
      style="--hvr-bg:rgba(133, 207, 163, 0);--bg:rgba(81, 187, 123, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--hvr-c:#777777;--c:#242424;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#242424;--hvr-bc:#777777"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        LEARN MORE
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:1;--o-mobile:1"
      class="gDL1XlwP-2 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gVTdqaWQdX"
    style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-b03e338c-a0dc-4dc9-8caa-59e0efcaab28.png" | asset_url }}" data-srcset="{{ '432750572815254551-b03e338c-a0dc-4dc9-8caa-59e0efcaab28.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-b03e338c-a0dc-4dc9-8caa-59e0efcaab28.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-b03e338c-a0dc-4dc9-8caa-59e0efcaab28.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2310" height="2310" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:2310/2310;--objf:cover;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Content - Style 11",
    "tag": "section",
    "class": "gps-473555336121287686 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=473555336121287686)"
      }
    ],
    "blocks": []
  }
{% endschema %}
